body{
    background-color: rgb(255, 255, 255);    
}

button {
    /* color: white; */
    background-color: rgb(224, 224, 224);
    border: none;
    padding: 10px 20px;
    border-radius: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.5s;
    transition: color 0.5s;

}

button:hover{
    background-color: red;
    color: white
    
}