body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*
Make the wallpaper fit the entire page:
background-image: url(image.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
*/

