body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button{
    transition: background-color 0.5s, color 0.3s, transform 0.1s, box-shadow 0.3s ease;
    
    /* making it look pretty */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(219, 222, 250);
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 20px;
    width: 200px; /* Fixed width */
    height: 70px; /* Fixed height */
    box-sizing: border-box;
}

button:hover{
    background-color: rgb(120, 140, 250);
    color: white;
    transform: translateY(-4px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2)
}

button:active{
    background-color: rgb(75, 81, 145);
    transform: translateY(2px);
    box-shadow: 0 0 rgba(0, 0, 0, 0.2)
}


h1{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}