html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url("modern.jpg");
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.small-logo{
    scale: 0.3;
    padding: 0;
    margin: 0;
    margin-right: -30px;
    /* border: 3px solid blue; */
}

.top-part-total-skeleton{
    display: flex;
    align-items: center;
    min-width: 100vw;
    background-color: white;
    min-height: 60px;
    max-height: 60px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    /* border: 3px solid blue;*/
    margin-left: 100px;
    min-width: 330px;
    min-height: 60px;
    max-height: 60px;
}
.overview, .pricing, .help{
    border-radius: 10px;
    padding: 15px;
    /* border: 2px solid black; */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.572);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.3s, color 0.1s;
}

.overview:hover, .pricing:hover, .help:hover{
    background-color: rgba(68, 115, 234, 0.533);
    color: white;
}

.center-the-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p,h1,h2,h3,h4,h5,h6{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-header{
    margin-top: -10px;
    font-size: 60px;
}

.logo{
    margin-top: 40px;
    display: flex;
    max-width: 100vw;
    justify-content: center;
    scale: 0.5;
}

.header{
    margin-top: 10px;
}

.secondary-header{
    display: flex;
    margin-top: -10px;
    font-size: 30px;
}

.main-para-cont{
    border-radius: 30px;
    background-image: url(darker\ modern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
    margin-top: 40px;
    max-width: 800px;
    text-align: center;
}

.sign-in-button{
    margin-top: 50px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    /* styles */
    border: none;
    border-radius: 15px;
    /* transition */
    transition: background-color 0.3s, color 0.1s;
    color: black;
}

.sign-in-button:hover{
    color: white;
    background-color: rgba(68, 115, 234, 0.533);
    cursor: pointer;
}

.border-for-footer{
    margin-top: 50px;
    opacity: 0.5;
}

.border-cont{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.info{
    margin-top: 30px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.learn-more-text{
    margin-right: 90px;
}

.learn-more-text, .discover{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}



.bottom-part-total-skeleton {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    min-height: 80px;
    min-width: 100vw;
}


.small-skeleton {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    background-color: white;
    min-height: 80px;
}


.privacy, .trust-center, .legal, .contact {
    margin: 0;
    padding: 10px 15px; 
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.572); 
    border-radius: 10px; 
    font-family: 'Trebuchet MS', Arial, sans-serif; 
    font-size: 14px; 
    transition: background-color 0.3s, color 0.1s;
}

.privacy:hover, .trust-center:hover, .legal:hover, .contact:hover{
    background-color: rgba(68, 115, 234, 0.533);
    color: white;
}