body{
    min-height: 100vh;
    background-image: url("modern.jpg");
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.center-the-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p,h1,h2,h3,h4,h5,h6{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-header{
    margin-top: -10px;
    font-size: 60px;
}

.logo{
    margin-top: 30px;
    display: flex;
    max-width: 100vw;
    justify-content: center;
    scale: 0.5;
}

.header{
    margin-top: 50px;
}

.secondary-header{
    display: flex;
    margin-top: -10px;
    font-size: 30px;
}

.main-para-cont{
    border: 2px solid white;
    padding: 30px;
    margin-top: 70px;
    max-width: 800px;
    text-align: center;
}

.sign-in-button{
    margin-top: 50px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
}

.border-for-footer{
    margin-top: 50px;
    opacity: 0.5;
}

.border-cont{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.info{
    margin-top: 30px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.learn-more-text{
    margin-right: 90px;
}

a{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}